[submodule "rawdrawandroid"]
	path = rawdrawandroid
	url = https://github.com/cnlohr/rawdrawandroid.git
[submodule "Refal-05-Standalone"]
	path = Refal-05-Standalone
	url = https://github.com/butvinm/Refal-05-Standalone.git
